html {
    background-color: midnightblue;
    font-family: verdana, arial, helvetica, sans-serif;
}

body, h1 {
    center: 50%;
    width: 1000px;
    max-width: 100%;
    margin: 0px auto;
}

#header {
    width: 200px;
    height: 200px;
    margin: auto;
    background-color: transparent;
}

#header-img {
    text-indent: -9999px;
    display: inline-block;
    width: 200px;
    height: 200px;
    background: url('battlehorse+text+soft.png') no-repeat scroll top;
    background-size: 200px 200px;
}

#page {
    background-color: white;
    box-shadow: 10px 10px 10px black;
}

#navbar {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 1.5em;
    padding: 2px 0;
}

#navbar a {
    text-decoration: none;
    background-color: lightblue;
    padding: 2px 0.5em;
}

#navbar a:hover {
    background-color: cornflowerblue;
}

#flashed {
    margin: 0 auto;
    background-color: powderblue;
    color: red;
    text-align: center;
}

#content {
    padding: 1em;
    text-align: center;
}

#content form {
    line-height: 200%;
    background-color: beige;
    margin: 0 auto;
    width: 600px;
    max-width: 80%;
    padding: 20px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border: 2px solid bisque;
    box-shadow: 5px 5px 2px grey;
}

#content form #openid {
    max-width: 100%;
}

#content form a {
    background-color: lightblue;
    border: 2px solid cornflowerblue;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    padding: 5px 10px;
}

#footer {
    color: white;
    text-align: center;
    margin: 1em auto;
}

#lizziewrapper {
    -webkit-animation: pulse 1.5s ease-in-out infinite;
    -moz-animation: pulse 1.5s ease-in-out infinite;
    -ms-animation: pulse 1.5s ease-in-out infinite;
    -o-animation: pulse 1.5s ease-in-out infinite;
}

#lizzie {
    -webkit-animation: spinner 4s linear infinite;
    -moz-animation: spinner 4s linear infinite;
    -ms-animation: spinner 4s linear infinite;
    -o-animation: spinner 4s linear infinite;
}

/* Animation */
@-webkit-keyframes spinner {   0% { transform: rotate(0deg); }
                             100% { transform: rotate(360deg); } }
@-moz-keyframes spinner {      0% { transform: rotate(0deg); }
                             100% { transform: rotate(360deg); } }
@-ms-keyframes spinner {       0% { transform: rotate(0deg); }
                             100% { transform: rotate(360deg); } }
@-o-keyframes spinner {        0% { transform: rotate(0deg); }
                             100% { transform: rotate(360deg); } }

@-webkit-keyframes pulse {   0% { transform: scale(  1,  1); }
                            50% { transform: scale(1.5,1.5); }
                           100% { transform: scale(  1,  1); } }
@-moz-keyframes pulse {      0% { transform: scale(  1,  1); }
                            50% { transform: scale(1.5,1.5); }
                           100% { transform: scale(  1,  1); } }
@-ms-keyframes pulse {       0% { transform: scale(  1,  1); }
                            50% { transform: scale(1.5,1.5); }
                           100% { transform: scale(  1,  1); } }
@-o-keyframes pulse {        0% { transform: scale(  1,  1); }
                            50% { transform: scale(1.5,1.5); }
                           100% { transform: scale(  1,  1); } }